---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="关于本站 - FAc's Site">
    <section class="title-section glass-panel">
        <h1>关于本站</h1>
    </section>
    <section class="glass-panel margin main-content">
        <center><img alt="" src="https://cdn.jsdmirror.com/gh/FlowerAccepted/gh-src-for-cfsite-dns@main/favicon.svg" width="500" height="500"></center>
        <h1>关于 FlowerAccepted 的网站</h1>
        <p>本站由 FlowerAccepted 创建和维护，目前 
            @<a href="/users/1" class="basic-href">FlowerAccepted</a> 是唯一开发者，请认准。</p>
        <p>这里列出了为本项目作出贡献的个人和组织：<a href="/info/credits" class="basic-href">致谢</a>。</p>
        <hr>
        <p>本站旨在提供动态的博客文章维护、实用的各类工具、隐密的个人私信、可爱的讨论区服务、基本的 OJ 功能和非官方的站长学校内部讨论区及民间比赛服务（这个尤其是人员验证有点难）。这些功能敬请期待。</p>
        <p>本站坚持非盈利原则，所有服务均免费提供给用户使用，且不会投放任何广告。</p>
        <p>本站目前由 FlowerAccepted 个人承担所有服务器和域名费用（如果有），如果您觉得本站对您有所帮助，<del>欢迎捐助以支持本站的持续运营和发展。</del>（作者目前无法接受钱款）</p>
        <hr>
        <p>如果您有任何建议或意见，欢迎<del>通过站内私信与我联系</del>，
            <a href="https://github.com/FlowerAccepted/cfSite/issues">在 GitHub 上提交 Issue</a>，或者发送邮件至
            <a href="mailto:accepted_flower@outlook.com" class="basic-href">accepted_flower@outlook.com</a>。
        </p>
        <hr>
        <p>感谢您的访问，祝您使用愉快！</p>
        <p>本站正在大力开发，敬请期待更多功能！</p>
    </section>
</BaseLayout>