---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="致谢 - FAc's Site">
    <section class="title-section glass-panel main-content">
        <h1>致谢</h1>
    </section>
    <section class="glass-panel margin">
        <p>感谢 CloudFlare 提供的免费前后端托管和数据库服务，使得本项目得以展现在您的面前。</p>
        <p>感谢 GitHub 提供的代码托管服务，使得本项目得以存储与自动部署。</p>
        <p>感谢 jsDelivr 提供的免费 CDN 服务，使得本站的静态资源得以高效分发。</p>
        <p>感谢 Astrojs 提供的静态网站生成器，使得本站得以高效开发与构建。</p>
        <p>感谢 OpenAI 的 ChatGPT 与 Sora，感谢其他网站开发过程中使用的 AI 服务，使得本项目顺利高效的开发。</p>
        <hr>
        <p>感谢 <a href="https://www.luogu.com.cn/user/1156254">xyber_nova</a> 提供的关于密码哈希、撞库预防的安全建议(issue #2)</p>
    </section>
</BaseLayout>