---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout title="本站信息 - FAc's Site">
    <section class="title-section glass-panel">
        <h1>本站信息</h1>
    </section>
    <section class="glass-panel margin">
        <p>这里是关于这个网站的一些基本信息、文档和规则：</p>
        <div class="category glass-panel">
            <a href="/info/about" class="basic-href glass-btn link-btn dark-theme">关于本站</a>
            <br>
            <a href="/info/credits" class="basic-href glass-btn link-btn dark-theme">致谢</a>
        </div>
    </section>
</BaseLayout>