---
import BaseLayout from "../layouts/BaseLayout.astro";
import { marked, Renderer } from "marked";
import fs from "fs";

class CustomRenderer extends Renderer {
    // @ts-ignore
    link({ href, title, tokens }) {
        // @ts-ignore
        const text = tokens.map((t) => t.text || "").join("");
        return `<a href="${href}" class="basic-href">${text}</a>`;
    }
}

const renderer = new CustomRenderer();
const markdownContent = fs.readFileSync("src/markdown.md", "utf8");
// @ts-ignore
const renderedMarkdown = marked(markdownContent, { renderer });
---

<BaseLayout title="首页 - FAc's Site">
    <section id="markdown-content" class="glass-panel">
        <div id="markdown-render" set:html={renderedMarkdown} />
    </section>

    <section class="title-section glass-panel">
        <h1>工具 & 链接</h1>
    </section>

    <section id="tools-list">
        <div id="categories"></div>
    </section>
    <div id="scroll-hint" class="scroll-hint">
        <div class="float">
            <p>下滑查看更多</p>
            <div class="arrows">
                <span class="arrow"></span>
                <span class="arrow"></span>
            </div>
        </div>
    </div>

    <script src="/index.js" is:inline></script>
    <script type="module" is:inline>
        const hint = document.getElementById("scroll-hint");

        let state = "visible";
        let timer = null;
        const FADE_TIME = 600;

        window.addEventListener("scroll", () => {
            const shouldHide = window.scrollY > 80;
            if (shouldHide && state === "visible") {
                state = "fading";
                hint.classList.remove("visible");
                hint.classList.add("fading");

                timer = setTimeout(() => {
                    hint.classList.remove("fading");
                    hint.classList.add("hidden");
                    state = "hidden";
                }, FADE_TIME);
            }
            if (!shouldHide && state === "hidden") {
                clearTimeout(timer);
                hint.classList.remove("hidden");
                hint.classList.add("visible");
                state = "visible";
            }
        });
    </script>
</BaseLayout>
