---
import BaseLayout from "../layouts/BaseLayout.astro";
import PasswordInput from "@/components/PasswordInput.astro";
const API_BASE = import.meta.env.PUBLIC_API_BASE;
---

<BaseLayout title="注册 - FAc's Site">
  <section class="title-section glass-panel">
    <h1>注册</h1>
  </section>

  <section class="glass-panel">

    <p>
      <input
        id="username"
        class="glass-input"
        placeholder="用户名"
        autocomplete="username"
      />
    </p>

    <form>
      <PasswordInput id="password" placeholder="密码" />
      <PasswordInput id="confirm" placeholder="确认密码" />
    </form>

    <!-- 密码强度 -->
    <div id="password-strength"></div>

    <p>
      <button class="glass-btn" onclick="register()">注册</button>
    </p>

    <p id="msg"></p>

    已有账号？
    <a class="basic-href" href="/login">点我登录！</a>
  </section>

  <script type="module" define:vars={{ API_BASE }}>
    import { setupAuth } from "../auth.js";
    import { initPasswordUI, initPasswordToggle } from "../password-ui.js";

    setupAuth(API_BASE);

    initPasswordToggle();
    initPasswordUI({
      passwordId: "password",
      confirmId: "confirm-password",
      containerId: "password-strength",
    });
  </script>
</BaseLayout>
