---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="用户中心 - FAc's Site">
    <section class="title-section glass-panel">
        <h1>用户中心</h1>
    </section>
    <section class="glass-panel">
        <p>这里是用户中心页面，包括部分用户设置，更多功能正在开发中，敬请期待！</p>
</BaseLayout>