---
const {
    svg,
    href = "#",
    label = "",
    required = false,
} = Astro.props;
---

<nav class="mt-4">
    <a href={href} class="relative flex items-center h-10">
        <span class="flex items-center justify-center w-6">
            <slot name="icon">{svg}</slot>
        </span>

        <span
            class="absolute left-10 top-1/2 -translate-y-1/2
		                    whitespace-nowrap
		                 	opacity-0
	                		group-hover:opacity-100
	                		transition-opacity duration-150 pointer-events-none"
        >
            {label}
        </span>
    </a>
</nav>
