---
const { title = "FAc's Site" } = Astro.props;
import "../styles/global.css";
---

<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="https://cdn.jsdmirror.com/gh/FlowerAccepted/gh-src-for-cfsite-dns@main/favicon.svg" type="image/svg+xml">
	<link rel="icon" href="https://cdn.jsdmirror.com/gh/FlowerAccepted/gh-src-for-cfsite-dns@main/favicon.png" type="image/png">
	<link rel="icon" href="https://cdn.jsdmirror.com/gh/FlowerAccepted/gh-src-for-cfsite-dns@main/favicon_64.png" type="image/png">
</head>

<body>
	<div class="background"></div>
	<header class="top-nav glass-sidebar">
		<div class="nav-left">
			<a href="/" style="color:var(--text-color)">
				<h1>
					<img alt="" src="https://cdn.jsdmirror.com/gh/FlowerAccepted/gh-src-for-cfsite-dns@main/favicon.svg" height="40" width="40">
					FAc's Site
				</h1>
			</a>
		</div>
		<div class="nav-right">
			<button id="theme-toggle" class="glass-btn">切换主题</button>
			<a class="glass-btn" href="/login">登录</a>
			<a class="glass-btn" href="/register">注册</a>
		</div>
	</header>
	<aside class="left-nav glass-sidebar">
		<nav>
			<ul>
				<li><a href="/">首页</a></li>
				<li><a href="/#tools">工具</a></li>
				<li><a href="/#about">关于</a></li>
			</ul>
		</nav>
	</aside>

	<main class="content">
		<slot />
	</main>
	<script src="/layoutScript.js" is:inline></script>
</body>
</html>